body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    #root {
        width: 100dvw;
        height: 100dvh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;

        animation: aparecer 1s ease-in-out;
    }
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}